<nav class="fixed top-0 w-full bg-white shadow-md z-50">
  <div class="container mx-auto flex items-center justify-between px-6 py-4">
    <!-- Logo -->
    <div class="text-2xl font-bold text-gray-800">
      <a href="#">
        <img src="/images/svg_logo.svg" alt="LOGO" class="h-8">
      </a>
    </div>

    <div class="flex items-center space-x-6">
      <!-- Navegação Desktop -->
      <div class="hidden md:flex space-x-6 text-gray-700">
        <a href="#">{{ 'NAVBAR.HOME' | translate }}</a>
        <a href="/solucoes">{{ 'NAVBAR.SOLUTIONS' | translate }}</a>
        <a href="/sobre">{{ 'NAVBAR.ABOUT' | translate }}</a>
        <a href="/contato">{{ 'NAVBAR.CONTACT' | translate }}</a>
      </div>

      <!-- Seletor de Idioma -->
      <div class="relative">
        <button id="dropdownDefaultButton" class="flex items-center bg-gray-100 px-4 py-2 rounded-md hover:bg-gray-200"
          (click)="toggleDropdown()" [attr.aria-expanded]="isDropdownVisible.toString()">
          🌍 {{ 'NAVBAR.LANGUAGE' | translate }}
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>

        <!-- Dropdown menu -->
        <ng-template [ngIf]="isDropdownVisible">
          <div id="dropdown" class="dropdown-content absolute right-0 mt-2 w-32 bg-white shadow-lg rounded-md">
            <a href="javascript:void(0)" class="block px-4 py-2 hover:bg-gray-100"
              (click)="changeLanguage('pt')">Português</a>
            <a href="javascript:void(0)" class="block px-4 py-2 hover:bg-gray-100"
              (click)="changeLanguage('en')">Inglês</a>
            <a href="javascript:void(0)" class="block px-4 py-2 hover:bg-gray-100"
              (click)="changeLanguage('es')">Espanhol</a>
          </div>
        </ng-template>
      </div>

      <!-- Menu Hamburguer -->
      <div class="md:hidden">
        <button id="menuToggle" class="text-gray-800 focus:outline-none" (click)="toggleMobileMenu()">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div id="mobileMenu" [ngClass]="{'hidden': !isMobileMenuVisible, 'block': isMobileMenuVisible}"
    class="bg-white shadow-md">
    <a href="#" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">{{ 'NAVBAR.HOME' |
      translate }}</a>
    <a href="/solucoes" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">{{
      'NAVBAR.SOLUTIONS' | translate }}</a>
    <a href="/sobre" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">{{ 'NAVBAR.ABOUT' |
      translate }}</a>
    <a href="/contato" class="block px-6 py-3 hover:bg-gray-100" (click)="toggleMobileMenu()">{{ 'NAVBAR.CONTACT' |
      translate }}</a>
  </div>
</nav>

<!-- Espaço para evitar que o conteúdo fique escondido atrás da navbar fixa -->
<div class="mt-20"></div>