<nav class="fixed top-0 w-full bg-white shadow-md z-50">
  <div class="container mx-auto flex items-center justify-between px-6 py-4">
    <!-- Logo -->
    <div class="text-2xl font-bold text-gray-800">
      <a href="#">
        <img src="/images/logo/logo_ebig.jpg" alt="LOGO" class="w-24 h-8">
      </a>
    </div>

    <div class="flex items-center space-x-6">
      <!-- Navegação Desktop -->
      <div class="hidden md:flex space-x-6 text-gray-700">
        <a href="#">Início</a>
        <!-- <a href="/solucoes">Serviços</a> -->
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
      </div>

      <!-- Menu Hamburguer -->
      <div class="md:hidden">
        <button id="menuToggle" class="text-gray-800 focus:outline-none" (click)="toggleMobileMenu()">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div id="mobileMenu" [ngClass]="{'hidden': !isMobileMenuVisible, 'block': isMobileMenuVisible}"
    class="bg-white shadow-md">
    <a href="#" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">Início</a>
    <!-- <a href="/solucoes" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">Serviços</a> -->
    <a href="/sobre" class="block px-6 py-3 border-b hover:bg-gray-100" (click)="toggleMobileMenu()">Sobre</a>
    <a href="/contato" class="block px-6 py-3 hover:bg-gray-100" (click)="toggleMobileMenu()">Contato</a>
  </div>
</nav>

<!-- Espaço para evitar que o conteúdo fique escondido atrás da navbar fixa -->
<div class="mt-20"></div>