<app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>

<div class="relative w-full h-auto sm:h-[500px] overflow-hidden" style="margin-top: 50px;">
  <!-- Imagens do Slider -->
  <div class="flex transition-transform duration-1000 ease-in-out"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div *ngFor="let slide of slides" class="w-full flex-shrink-0 relative">
      <img [src]="slide.image" class="w-full h-auto sm:h-[500px] object-cover" alt="Slide Image">

      <!-- Texto e Botões Centralizados -->
      <div class="absolute inset-0 flex flex-col items-center justify-center text-white bg-black bg-opacity-50 px-2">
        <div class="text-center max-w-[90%]">
          <h1 class="text-2xl sm:text-4xl font-bold mb-2 sm:mb-4">{{ slide.title }}</h1>
          <p class="text-base sm:text-lg mb-4 sm:mb-6">{{ slide.description }}</p>
          <div class="space-x-2 sm:space-x-4">
            <!-- Botão com nome e link dinâmicos -->
            <!-- <a [href]="slide.buttonLink">
              <button class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-3 sm:px-4 rounded">
                {{ slide.buttonName }}
              </button>
            </a> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="max-w-6xl mx-auto p-8 mt-16">
  <!-- Header Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Coluna da esquerda (diminuída) -->
      <div class="flex justify-center items-center text-center col-span-1">
        <div>
          <span class="text-[#3D3F94] text-6xl font-bold">+10</span>
          <br>
          <span class="text-[#3D3F94] ml-2 text-xl">Anos de história</span>
        </div>
      </div>

      <!-- Coluna da direita (conteúdo principal) -->
      <div class="col-span-2">
        <h2 class="text-[#3D3F94] text-2xl font-bold mb-4">
          SOBRE NÓS
        </h2>
        <p class="text-gray-700">
          Tudo começou quando eu, Tânia Luzia Gonçalves, e minha irmã, Mara Eliane Gonçalves Fernandes, iniciamos uma sociedade em uma loja de artigos de festa, a "É Big!".
        </p>

        <p class="text-gray-700 mt-4">
          Mesmo sem experiência, com a ajuda dos nossos filhos jovens, ingressamos no meio digital. 
          Por meio das redes sociais, desenvolvemos um novo formato de trabalho que agiliza nossos processos.
          Hoje, estamos estabelecidos em Paraguaçu - MG e prontos para atender você a qualquer momento,
          oferecendo diversos artigos e serviços para satisfazê-lo na organização e no aproveitamento de sua festa.
        </p>

      </div>
    </div>

    <!-- Map Section -->
    <div class=" rounded-lg p-4">
      <div class="h-64 relative">
        <img src="/images/img_inicio_mapazoom.png" alt="Map location" class="w-full h-full object-cover rounded" />

      </div>
    </div>
  </div>

  <!-- Missão / Visão / Valores -->
  <section class="py-8 bg-white">
    <div class="container mx-auto px-4">

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Missão -->
        <div
          class="p-8 flex flex-col items-center text-center bg-gray-50 rounded-lg shadow-lg border border-indigo-200">
          <h3 class="text-[#3D3F94] text-xl font-bold mb-4">Missão</h3>
          <p class="text-gray-700">
            Oferecer produtos criativos, acessíveis e de qualidade para transformar celebrações em memórias únicas, com atendimento humanizado e inovação digital. 
          </p>
        </div>

        <!-- Visão -->
        <div
          class="p-8 flex flex-col items-center text-center bg-gray-50 rounded-lg shadow-lg border border-indigo-200">
          <h3 class="text-[#3D3F94] text-xl font-bold mb-4">Visão</h3>
          <p class="text-gray-700">
            Ser a loja de artigos de festa que lidera em inovação e criatividade no sul de Minas Gerais, 
            reconhecida pela excelência e itens personalizados que inspiram celebrações únicas. 
          </p>
        </div>

        <!-- Valores -->
        <div
          class="p-8 flex flex-col items-center text-center bg-gray-50 rounded-lg shadow-lg border border-indigo-200">
          <h3 class="text-[#3D3F94] text-xl font-bold mb-4">Valores</h3>
          <div class="text-gray-700 space-y-4">
            <span>Família em Primeiro Lugar;</span><br>
            <span>Criatividade que Transforma;</span><br>
            <span>Atendimento com Alma;</span><br>
            <span>Acessibilidade com Dignidade;</span><br>
            <span>Crescimento com Autonomia.</span><br>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

<app-footer></app-footer>