<app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>


<section class="relative h-[400px] w-full overflow-hidden">
  <!-- Imagem de fundo -->
  <img src="/images/img_superior_solucoes_saas.png" alt="Computer screen with code"
    class="absolute w-full h-full object-cover" />

  <!-- Texto ajustado -->
  <div class="absolute inset-0 flex items-center justify-center sm:justify-start px-6 sm:px-16 md:px-60">
    <div class="max-w-lg">
      <h2 class="text-black font-bold text-2xl sm:text-3xl md:text-4xl leading-tight">
        Tenha uma gestão eficiente e inteligente em nuvem dos processos de comercialização
        do café com
      </h2>
      <h3 class="text-[#6366F1] font-bold text-2xl sm:text-3xl md:text-4xl mt-4">
        AgroSync Coffee SAAS
      </h3>
    </div>
  </div>
</section>



<section class="text-center py-12 ">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-[#3D3F94]">
      Gerenciamento da comercialização do café em nuvem
    </h1>
    <p class="text-gray-600 max-w-2xl mx-auto mt-4">
      Sistema ideal para Cooperativas, Armazéns Gerais, Corretores e Comerciantes de café.
      Desenvolvido para gerenciar todo o processo de comercialização do café no setor e
      auxiliar Corretores e Comerciantes nos processos de compra, venda, gestão e muito mais!
    </p>
  </div>

  <div class="flex justify-center mt-10">
    <div class="w-3/4 max-w-4xl">
      <video class="w-full rounded-lg shadow-lg" autoplay loop muted>
        <source src="/images/mp4_acesso_saas.mp4" type="video/mp4">
        Seu navegador não suporta vídeos.
      </video>
    </div>
  </div>
</section>


<section class=" py-12">
  <!-- Primeira Seção -->
  <div class="container mx-auto px-4">
    <div class="bg-[#3D3F94] text-white text-center py-3 text-xl font-bold">
      Gestão para Corretoras e Comerciantes de Café
    </div>

    <div class="flex flex-col md:flex-row items-center gap-8 mt-8">
      <!-- Slider -->
      <div class="w-full md:w-1/2">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_finan.png" alt="Gestão para Corretoras 1"
                class="rounded-lg shadow-lg">
            </div>
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_ofer.png" alt="Gestão para Corretoras 2"
                class="rounded-lg shadow-lg">
            </div>
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_amos.png" alt="Gestão para Corretoras 3"
                class="rounded-lg shadow-lg">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- Texto -->
      <div class="w-full md:w-1/2">
        <p class="text-gray-700">
          Transmita confiabilidade aos seus clientes, conheça uma ferramenta dedicada para corretores e comerciantes de
          café.
        </p>
        <p class="text-gray-700 mt-2">
          Gerenciamento financeiro e comercial para sua empresa, gestão de amostras de lotes, relatórios detalhados e
          muito mais!
        </p>

        <!-- Acordeon -->
        <div class="mt-4 space-y-2">
          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('gestao')">
              <span>Gestão de Amostras</span>
              <span [class.rotate-180]="isOpen('gestao')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('gestao')">
              <p>Tenha a gestão das amostras para negociação, gere e administre ofertas, crie prévias de blends para
                atender demandas e garantia de negociações assertivas.</p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('comercializacao')">
              <span> Comercialização</span>
              <span [class.rotate-180]="isOpen('comercializacao')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('comercializacao')">
              <p>Facilidade para emissão de contratos de compra e venda.</p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between p-3 cursor-pointer"
              (click)="toggleAcordeon('financeiro')">
              <span> Gestão Financeira</span>
              <span [class.rotate-180]="isOpen('financeiro')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('financeiro')">
              <p>Gere remessas e movimentações financeiras e tenha total controle com o livro caixa.</p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('relatorios')">
              <span> Relatórios</span>
              <span [class.rotate-180]="isOpen('relatorios')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('relatorios')">
              <p>Tenha relatórios básicos de estoque, compras, vendas e despesas ou solicite relatórios personalizados
                para seu negócio.</p>
            </div>
          </div>
        </div>


        <div class="mt-6 text-center">
          <p class="text-green-600 text-lg">✔ Corretores ✔ Comerciantes</p>
          <a href="https://w.app/BrasilSyncSAASGCC">
            <button
              class="bg-green-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-green-600 transition mt-2 flex items-center mx-auto gap-2">
              <i class="fab fa-whatsapp"></i>
              <span>SAIBA MAIS</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda Seção -->
  <div class="container mx-auto px-4 mt-12">
    <div class="flex flex-col md:flex-row-reverse items-center gap-8">
      <!-- Slider -->
      <div class="w-full md:w-1/2">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_com.png" alt="Gestão Comercial 1" class="rounded-lg shadow-lg">
            </div>
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_com1.png" alt="Gestão Comercial 2" class="rounded-lg shadow-lg">
            </div>
            <div class="swiper-slide">
              <img src="/images/img_saas_carrossel_ges_cor.png" alt="Gestão Comercial 3" class="rounded-lg shadow-lg">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- Texto -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-bold text-[#3D3F94]">
          Gestão Comercial Integrada
        </h2>
        <p class="text-gray-700 mt-4">
          Gestão integrada com o AgroSync Coffee WMS On-Premises; Desenvolvido com foco no setor comercial.
        </p>
        <p class="text-gray-700">
          Mais eficiência e comunicação entre armazém e comercialização.
        </p>


        <div class="mt-4 space-y-2">
          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('gestao')">
              <span> Contratos Futuros</span>
              <span [class.rotate-180]="isOpen('gestao')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('gestao')">
              <p>Emita Contratos de Entrada, Saída e Derivativos.</p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('comercializacao')">
              <span> Classificação</span>
              <span [class.rotate-180]="isOpen('comercializacao')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('comercializacao')">
              <p>Gestão do cadastro dos detalhes das classificações dos lotes em estoque. Inclua os atributos de
                classificação, análises sensoriais e tenha o histórico de classificação dos lotes.</p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between  p-3 cursor-pointer"
              (click)="toggleAcordeon('financeiro')">
              <span> Guias de Serviço</span>
              <span [class.rotate-180]="isOpen('financeiro')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('financeiro')">
              <p>Emissão e gestão de diversos tipos de guias/ordens de serviço. Compra, rebenefício, venda entre outras.
              </p>
            </div>
          </div>

          <div class="acordeon-item border border-gray-300 rounded-md">
            <div class="acordeon-header flex items-center justify-between p-3 cursor-pointer"
              (click)="toggleAcordeon('relatorios')">
              <span> Relatórios</span>
              <span [class.rotate-180]="isOpen('relatorios')" class="transition-transform">&#9660;</span>
            </div>
            <div class="acordeon-content p-3" *ngIf="isOpen('relatorios')">
              <p>Tenha relatórios básicos de estoque, compras, vendas e despesas ou solicite relatórios personalizados
                para seu negócio.</p>
            </div>
          </div>
        </div>


        <div class="mt-6 text-center">
          <p class="text-green-600 text-lg">✔ Cooperativas ✔ Armazéns Gerais</p>
          <a href="https://w.app/BrasilSyncSAASGCI">
            <button
              class="bg-green-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-green-600 transition mt-2 flex items-center mx-auto gap-2">
              <i class="fab fa-whatsapp"></i>
              <span>SAIBA MAIS</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="container mx-auto py-12 px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Cloud Storage Card -->
    <div class="bg-white rounded-lg shadow-lg p-8 flex flex-col items-center text-center">
      <div class="mb-6">
        <!-- Ícone Cloud Storage com Font Awesome -->
        <i class="fas fa-cloud h-16 w-16 text-[#3D3F94]"></i>
      </div>
      <h2 class="text-2xl font-semibold text-[#3D3F94] mb-4">ARMAZENAMENTO EM NUVEM</h2>
      <p class="text-gray-600">
        Tenha mais flexibilidade, confiabilidade, desempenho e eficiência em suas operações.
      </p>
    </div>

    <!-- Multiplatform Software Card -->
    <div class="bg-white rounded-lg shadow-lg p-8 flex flex-col items-center text-center">
      <div class="mb-6">
        <!-- Ícone Multiplataforma com Font Awesome -->
        <i class="fas fa-desktop h-16 w-16 text-[#3D3F94]"></i>
      </div>
      <h2 class="text-2xl font-semibold text-[#3D3F94] mb-4">SOFTWARE MULTIPLATAFORMA</h2>
      <p class="text-gray-600">
        Liberdade para acessar as informações e funcionalidades do sistema em vários dispositivos diferentes.
      </p>
    </div>
  </div>
</section>


<div class="p-8">
  <h2 class="bg-[#3D3F94] text-white text-2xl font-bold mb-8 text-center p-4 rounded-lg w-full max-w-4xl mx-auto">
    {{ 'HOME.CLIENTES_PARCEIROS' | translate }}
  </h2>


  <!-- Carrossel de Clientes -->
  <div class="relative">
    <!-- Carrossel de Clientes -->
    <div class="relative">
      <div class="overflow-hidden">
        <div class="flex space-x-6 transition-all duration-500 ease-in-out transform">
          <div *ngFor="let cliente of clientes" class="flex-none">
            <div class="transform transition-all duration-300 hover:scale-105 hover:shadow-xl">
              <img [src]="cliente.image" alt="Cliente" class="w-64 h-64 object-contain mx-auto">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Indicadores (bolinhas) -->
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex space-x-2 pb-4">
      <button *ngFor="let idx of indicatorIndexes" [class.bg-indigo-700]="idx === currentIndex"
        class="w-3 h-3 rounded-full">
      </button>
    </div>

    <!-- Controles do carrossel -->
    <div
      class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-black text-white p-2 cursor-pointer rounded-full shadow-lg">
      &#10094;
    </div>
    <div
      class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-black text-white p-2 cursor-pointer rounded-full shadow-lg">
      &#10095;
    </div>
  </div>
</div>


<app-footer class="mt-12"></app-footer>